body {
	font-family: sans-serif;
	text-align: center;
}

.home-page__container {
	display: flex;
	flex-direction: column;
}

.search-form {
	display: grid;
	grid-template:
	  "query-field     query-field     query-field  query-field          query-field       search-button   search-button" auto
		"repository-text spigot-checkbox spigot-label modrinth-checkbox    modrinth-label    hangar-checkbox hangar-label " auto
		"fields-text     name-checkbox   name-label   description-checkbox description-label author-checkbox author-label " auto
		"sort-text       sort-field      sort-field   sort-field           sort-field        sort-field      sort-field   " auto
		/ auto auto auto auto auto auto auto;
  gap: 5px;
	align-self: center;
	text-align: left;
}

.search-form__query-field {
  grid-area: query-field;
}

.search-form__search-button {
  grid-area: search-button;
}

.search-form__repository-text {
	grid-area: repository-text;
}

.search-form__spigot-checkbox {
  grid-area: spigot-checkbox;
}

.search-form__spigot-label {
  grid-area: spigot-label;
}

.search-form__modrinth-checkbox {
  grid-area: modrinth-checkbox;
}

.search-form__modrinth-label {
  grid-area: modrinth-label;
}

.search-form__hangar-checkbox {
  grid-area: hangar-checkbox;
}

.search-form__hangar-label {
  grid-area: hangar-label;
}

.search-form__fields-text {
	grid-area: fields-text
}

.search-form__name-checkbox {
  grid-area: name-checkbox;
}

.search-form__name-label {
  grid-area: name-label;
}

.search-form__description-checkbox {
  grid-area: description-checkbox;
}

.search-form__description-label {
  grid-area: description-label;
}

.search-form__author-checkbox {
  grid-area: author-checkbox;
}

.search-form__author-label {
  grid-area: author-label;
}

.search-form__sort-text {
	grid-area: sort-text;
}

.search-form__sort-field {
	grid-area: sort-field;
	justify-self: left;
}

.search-results__container {
	margin-top: 1em;
}

.search-results__header-row {
  display: flex;
	flex-wrap: nowrap;
}

.search_results__date-column {
	flex: 1 1 5%;
}

.search_results__main-column {
	flex: 1 1 22.5%;
}

.search-results__date-header {
	@extend .search_results__date-column;
	font-weight: bold;
	padding: 5px;
}

.search-results__main-header {
	@extend .search_results__main-column;
	font-weight: bold;
	padding: 5px;
}

.search-results__created-header {
	@extend .search-results__date-header;
}

.search-results__updated-header {
	@extend .search-results__date-header;
}

.search-results__spigot-header {
	@extend .search-results__main-header;
}

.search-results__modrinth-header {
	@extend .search-results__main-header;
}

.search-results__hangar-header {
	@extend .search-results__main-header;
}

.search-results__source-header {
	@extend .search-results__main-header;
}

.search-results__list {
	margin: 0;
	padding: 0;
}

.search-results__list-item {
	display: flex;
	flex-wrap: nowrap;
	gap: 5px;
	list-style-type: none;
	border: 1px lightgray solid;
	padding: 5px;
}

.search-results__date-cell {
	@extend .search_results__date-column;
	display: flex;
	flex-direction: column;
}

.search-results__main-cell {
	@extend .search_results__main-column;
	display: flex;
	flex-direction: column;
}

.search-results__created-cell {
	@extend .search-results__date-cell;
}

.search-results__updated-cell {
	@extend .search-results__date-cell;
}

.search-results__spigot-cell {
	@extend .search-results__main-cell;
}

.search-results__modrinth-cell {
	@extend .search-results__main-cell;
}

.search-results__hangar-cell {
	@extend .search-results__main-cell;
}

.search-results__source-cell {
	@extend .search-results__main-cell;
}

.search-results__date {

}

.search-results__time {

}

.search-results__plugin-premium {

}

.search-results__plugin-name {
	font-weight: bold;
}

.search-results__plugin-version {

}

.search-results__plugin-author {
	font-style: italic;
}