body {
	font-family: sans-serif;
	background: #181818;
	color: #e0e6f0;
	margin: 0;
}

:link, :visited, :link:active, :visited:active {
	color: #58a6ff;
}

.github-corner__svg {
  fill: #ffffff;
	color: #151513;
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
}

.github-corner:hover .github-corner__octo-arm
{
	animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave
{
	0%,100%
	{
		transform:rotate(0)
	}
	20%,60%
	{
		transform:rotate(-25deg)
	}
	40%,80%
	{
		transform:rotate(10deg)
	}
}

@media (max-width:500px)
{
	.github-corner:hover .github-corner__octo-arm
	{
		animation:none
	}
	.github-corner .github-corner__octo-arm
	{
		animation:octocat-wave 560ms ease-in-out
	}
}

.home-page__title {
	text-align: center;
}

.home-page__subtitle {
	text-align: center;
	margin-bottom: 10px;
}

.home-page__container {
	display: flex;
	flex-direction: column;
}

.home-page__footer {
  display: flex;
	flex-direction: column;
	align-items: center;
	color: #aeb3bb;
	margin: 10px;
}

.home-page__footer-text {

}

.home-page__footer-disclaimer {
	font-size: small;
	font-style: italic;
	margin-top: 5px;
}

.search-form {
	display: grid;
	grid-template:
	  "query-input          query-input          query-input          query-input          query-input          query-input          query-input         " auto
		"repository-text      spigot-checkbox      spigot-label         modrinth-checkbox    modrinth-label       hangar-checkbox      hangar-label        " auto
		"fields-text          name-checkbox        name-label           description-checkbox description-label    author-checkbox      author-label        " auto
		"sort-limit-container sort-limit-container sort-limit-container sort-limit-container sort-limit-container sort-limit-container sort-limit-container" auto
		/ auto auto auto auto auto auto auto;
  gap: 5px;
	align-self: center;
	text-align: left;
}

.search-form__query-input {
  grid-area: query-input;
}

.search-form__repository-text {
	grid-area: repository-text;
}

.search-form__spigot-checkbox {
  grid-area: spigot-checkbox;
}

.search-form__spigot-label {
  grid-area: spigot-label;
}

.search-form__modrinth-checkbox {
  grid-area: modrinth-checkbox;
}

.search-form__modrinth-label {
  grid-area: modrinth-label;
}

.search-form__hangar-checkbox {
  grid-area: hangar-checkbox;
}

.search-form__hangar-label {
  grid-area: hangar-label;
}

.search-form__fields-text {
	grid-area: fields-text
}

.search-form__name-checkbox {
  grid-area: name-checkbox;
}

.search-form__name-label {
  grid-area: name-label;
}

.search-form__description-checkbox {
  grid-area: description-checkbox;
}

.search-form__description-label {
  grid-area: description-label;
}

.search-form__author-checkbox {
  grid-area: author-checkbox;
}

.search-form__author-label {
  grid-area: author-label;
}

.search-form__sort-label {
	grid-area: sort-label;
}

.search-form__sort-limit-container {
	grid-area: sort-limit-container;
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

.search-form__sort-select {

}

.search-form__limit-label {

}

.search-form__limit-select {

}

.search-results__container {
	margin-top: 1rem;
}

.search-results__header-row {
	position: sticky;
	top: 0;
  display: flex;
	flex-wrap: nowrap;
	gap: 5px;
	background: #2B2B2B;
	padding: 5px;
}

.search-results__stat-column {
	flex: 0 0 6rem;
}

.search-results__main-column {
	flex: 1 0 1;
	overflow: hidden;
}

.search-results__stat-header {
	@extend .search-results__stat-column;
	font-size: medium;
	display: flex;
	align-items: center;
	margin: 0;
}

.search-results__main-header {
	@extend .search-results__main-column;
	font-size: large;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.search-results__created-header {
	@extend .search-results__stat-header;
}

.search-results__updated-header {
	@extend .search-results__stat-header;
}

.search-results__latest-minecraft-version-header {
	@extend .search-results__stat-header;
}

.search-results__downloads-header {
	@extend .search-results__stat-header;
}

.search-results__likes-and-stars-header {
	@extend .search-results__stat-header;
}

.search-results__follows-and-watchers-header {
	@extend .search-results__stat-header;
}

.search-results__spigot-header {
	@extend .search-results__main-header;
}

.search-results__modrinth-header {
	@extend .search-results__main-header;
}

.search-results__hangar-header {
	@extend .search-results__main-header;
}

.search-results__source-header {
	@extend .search-results__main-header;
}

.search_results__no-projects-found {
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	margin: 10px;
}

.search-results__list {
	margin: 0;
	padding: 0 5px;
}

.search-results__pagination {
	display: flex;
	justify-content: center;
	gap: 5px;
  margin: 10px;
}

.search-results__pagination-item {
	padding: 5px 10px;
}

.search-results__pagination-link {
	@extend .search-results__pagination-item;
	border-radius: 5px;
	background: #2B2B2B;
	color: #e0e6f0;
	text-decoration: none;
}

.search-results__pagination-link:hover {
	background: #555555;
}

.search-results__pagination-link_current {
	@extend .search-results__pagination-link;
	background: #e0e6f0;
	color: #2B2B2B;
	font-weight: bold;
}

.search-results__pagination-link_current:hover {
	background: #e0e6f0;
}

.search-row__list-item {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 5px;
	list-style-type: none;
}

.search-row__stat-cell {
	@extend .search-results__stat-column;
	align-self: center;
	display: flex;
	flex-direction: column;
}

.search-row__main-cell {
	@extend .search-results__main-column;
	align-self: stretch;
	display: flex;
	flex-direction: column;
}

.search-row__main-link {
  display: flex;
	gap: 5px;
	margin: 5px 0;
	padding: 5px;
	border-radius: 10px;
	color: #e0e6f0;
	text-decoration: none;
	height: 100%;
}

.search-row__created-cell {
	@extend .search-row__stat-cell;
}

.search-row__updated-cell {
	@extend .search-row__stat-cell;
}

.search-row__latest-minecraft-version-cell {
	@extend .search-row__stat-cell;
}

.search-row__downloads-cell {
	@extend .search-row__stat-cell;
}

.search-row__likes-and-stars-cell {
	@extend .search-row__stat-cell;
}

.search-row__follows-and-watchers-cell {
	@extend .search-row__stat-cell;
}

.search-row__spigot-cell {
	@extend .search-row__main-cell;
}

.search-row__spigot-link {
  @extend .search-row__main-link;
	background: #3D250D;
}

.search-row__spigot-link:hover {
	background: #B76E27;
}

.search-row__modrinth-cell {
	@extend .search-row__main-cell;
}

.search-row__modrinth-link {
	@extend .search-row__main-link;
	background: #162F24;
}

.search-row__modrinth-link:hover {
	background: #1E8749;
}

.search-row__hangar-cell {
	@extend .search-row__main-cell;
}

.search-row__hangar-link {
	@extend .search-row__main-link;
	background: #2D3A4C;
}

.search-row__hangar-link:hover {
  background: #0D4BC9;
}

.search-row__source-cell {
	@extend .search-row__main-cell;
}

.search-row__source-link {
	@extend .search-row__main-link;
	background: #2B2B2B;
}

.search-row__source-link:hover {
  background: #555555;
}

.search-row__image {
	align-self: center;
	width: 75px;
	height: 75px;
}

.search-row__text-contents {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}

.search-row__source-text-contents {
	display: flex;
	align-self: center;
}

.search-row__date {

}

.search-row__time {

}

.search-row__latest-minecraft_version {

}

.search-row__downloads {

}

.search-row__likes-and-stars {

}

.search-row__follows-and-watchers {

}

.search-row__cell-title {
	margin-bottom: 5px;
}

.search-row__cell-description {
  color: #aeb3bb;
}

.search-row__plugin-premium {
	vertical-align: text-bottom;
}

.search-row__plugin-abandoned {
	vertical-align: text-bottom;
}

.search-row__plugin-name {
	display: inline;
	font-weight: bold;
	margin: 0;
}

.search-row__plugin-version {

}

.search-row__plugin-author {
	font-style: italic;
}