body {
	font-family: sans-serif;
	background: #181818;
	color: #e0e6f0;
}

.home-page__title {
	text-align: center;
}

.home-page__container {
	display: flex;
	flex-direction: column;
}

.search-form {
	display: grid;
	grid-template:
	  "query-input          query-input          query-input          query-input          query-input          query-input          query-input         " auto
		"repository-text      spigot-checkbox      spigot-label         modrinth-checkbox    modrinth-label       hangar-checkbox      hangar-label        " auto
		"fields-text          name-checkbox        name-label           description-checkbox description-label    author-checkbox      author-label        " auto
		"sort-limit-container sort-limit-container sort-limit-container sort-limit-container sort-limit-container sort-limit-container sort-limit-container" auto
		/ auto auto auto auto auto auto auto;
  gap: 5px;
	align-self: center;
	text-align: left;
}

.search-form__query-input {
  grid-area: query-input;
}

.search-form__repository-text {
	grid-area: repository-text;
}

.search-form__spigot-checkbox {
  grid-area: spigot-checkbox;
}

.search-form__spigot-label {
  grid-area: spigot-label;
}

.search-form__modrinth-checkbox {
  grid-area: modrinth-checkbox;
}

.search-form__modrinth-label {
  grid-area: modrinth-label;
}

.search-form__hangar-checkbox {
  grid-area: hangar-checkbox;
}

.search-form__hangar-label {
  grid-area: hangar-label;
}

.search-form__fields-text {
	grid-area: fields-text
}

.search-form__name-checkbox {
  grid-area: name-checkbox;
}

.search-form__name-label {
  grid-area: name-label;
}

.search-form__description-checkbox {
  grid-area: description-checkbox;
}

.search-form__description-label {
  grid-area: description-label;
}

.search-form__author-checkbox {
  grid-area: author-checkbox;
}

.search-form__author-label {
  grid-area: author-label;
}

.search-form__sort-label {
	grid-area: sort-label;
}

.search-form__sort-limit-container {
	grid-area: sort-limit-container;
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

.search-form__sort-select {

}

.search-form__limit-label {

}

.search-form__limit-select {

}

.search-results__container {
	margin-top: 1em;
}

.search-results__header-row {
  display: flex;
	flex-wrap: nowrap;
	gap: 5px;
}

.search-results__stat-column {
	flex: 0 0 6em;
}

.search-results__main-column {
	flex: 0 1 25%;
}

.search-results__stat-header {
	@extend .search-results__stat-column;
	font-weight: bold;
}

.search-results__main-header {
	@extend .search-results__main-column;
	font-weight: bold;
}

.search-results__created-header {
	@extend .search-results__stat-header;
}

.search-results__updated-header {
	@extend .search-results__stat-header;
}

.search-results__latest-minecraft-version-header {
	@extend .search-results__stat-header;
}

.search-results__downloads-header {
	@extend .search-results__stat-header;
}

.search-results__likes-and-stars-header {
	@extend .search-results__stat-header;
}

.search-results__follows-and-watchers-header {
	@extend .search-results__stat-header;
}

.search-results__spigot-header {
	@extend .search-results__main-header;
}

.search-results__modrinth-header {
	@extend .search-results__main-header;
}

.search-results__hangar-header {
	@extend .search-results__main-header;
}

.search-results__source-header {
	@extend .search-results__main-header;
}

.search-results__list {
	margin: 0;
	padding: 0;
}

.search-results__pagination {
	display: flex;
	justify-content: center;
	gap: 5px;
  margin: 10px;
}

.search-results__pagination-item {
	padding: 5px 10px;
}

.search-results__pagination-link {
	@extend .search-results__pagination-item;
	border: 1px solid black;
	text-decoration: none;
}

.search-results__pagination-link_current {
	@extend .search-results__pagination-link;
	font-weight: bold;
}

.search-row__list-item {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 5px;
	list-style-type: none;
}

.search-row__stat-cell {
	@extend .search-results__stat-column;
	align-self: center;
	display: flex;
	flex-direction: column;
}

.search-row__main-cell {
	@extend .search-results__main-column;
	align-self: stretch;
	display: flex;
	flex-direction: column;
}

.search-row__main-link {
  display: flex;
	gap: 5px;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	color: #e0e6f0;
	text-decoration: none;
	height: 100%;
}

.search-row__created-cell {
	@extend .search-row__stat-cell;
}

.search-row__updated-cell {
	@extend .search-row__stat-cell;
}

.search-row__latest-minecraft-version-cell {
	@extend .search-row__stat-cell;
}

.search-row__downloads-cell {
	@extend .search-row__stat-cell;
}

.search-row__likes-and-stars-cell {
	@extend .search-row__stat-cell;
}

.search-row__follows-and-watchers-cell {
	@extend .search-row__stat-cell;
}

.search-row__spigot-cell {
	@extend .search-row__main-cell;
}

.search-row__spigot-link {
  @extend .search-row__main-link;
	background: #3D250D;
}

.search-row__spigot-link:hover {
	background: #B76E27;
}

.search-row__modrinth-cell {
	@extend .search-row__main-cell;
}

.search-row__modrinth-link {
	@extend .search-row__main-link;
	background: #162F24;
}

.search-row__modrinth-link:hover {
	background: #1E8749;
}

.search-row__hangar-cell {
	@extend .search-row__main-cell;
}

.search-row__hangar-link {
	@extend .search-row__main-link;
	background: #2D3A4C;
}

.search-row__hangar-link:hover {
  background: #0D4BC9;
}

.search-row__source-cell {
	@extend .search-row__main-cell;
}

.search-row__image {
	align-self: center;
	width: 75px;
	height: 75px;
}

.search-row__title-and-description {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}

.search-row__date {

}

.search-row__time {

}

.search-row__latest-minecraft_version {

}

.search-row__downloads {

}

.search-row__likes-and-stars {

}

.search-row__follows-and-watchers {

}

.search-row__cell-title {
	margin-bottom: 5px;
}

.search-row__cell-description {

}

.search-row__plugin-premium {

}

.search-row__plugin-name {
	display: inline;
	font-weight: bold;
	margin: 0;
}

.search-row__plugin-version {

}

.search-row__plugin-author {
	font-style: italic;
}

.search-row__source-link {
	color: cyan;
}